# Visual Studio user-specific files
*.vs
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# IDE files
[Vv][Ss]host.exe.config
*.resharper
_ReSharper*

# Other
*.nupkg
*.nuget.props
*.nuget.targets

# Mac/Linux files
.DS_Store